/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace ic "http://www.supermap.com/iclient/2010";
@namespace is "http://www.supermap.com/iserverjava/2010";


/* CSS file */

/* 全局样式 */

global{
	font-size:12px;
	fontFamily:"宋体";
	font-weight: normal;	
	borderColor: #006737;
	text-decoration: none;
	font-style: normal;
}
.accordion {   
	font-size:12px;   
}
.ToolTip{
	font-size:12px;
}
.errorTip {
	fontSize: 12pt;
	color:#ffff00;
}

.dropClass
{
	
	border-color:#D3D3D3;
	content-background-alpha:0.8;
	symbol-color:blue;
	chrome-color:#FFFFFF;
	drop-shadow-visible:true;
	horizontal-center:0;
	color:blue;
}
.linkbtnClass
{
	font-size:13;
	color:blue;
	focus-color:#EE7076;
	padding-left:0;
	padding-right:0;
}
.arealinkbtnCLass
{
	padding-left:0;
	padding-right:0;
	text-decoration:underline;
	color:blue;
	
}

/*以下2个样式用于控制搜索文本框*/
.defalutstyle
{
	color:#cccccc;
}
.foucstyle
{
	color:#E0572A;
}

ic|InfoWindow
{
	borderThickness: 2;
	borderAlpha: 1;
	shadowColor: #173317;
	shadowDistance: 1;
	shadowAlpha: 0.5;
	infoPlacement:top;
}
mx|LinkButton
{
	paddingLeft: 0;
	paddingRight: 0;
}
mx|AccordionHeader
{
	
}
s|TextInput
{
	borderColor: #006737;
	borderVisible: true;
	contentBackgroundColor: #D0E7BF;
	focusAlpha: 0;
}
s|DropDownList
{
	skinClass: ClassReference("com.nuchina.skin.DDLSkin");
}
s|TitleWindow
{
	borderColor:#006737;
	backgroundColor:#F6F9E8;	
	skinClass: ClassReference("com.nuchina.skin.TitleWindowSkin");
}
.listStyle
{
	alternatingItemColors: #FFFFFF, #D6E9BB;
}
mx|ToolTip
{
	fontSize:14;
	fontFamily:"宋体";
}